.backgrounds {
    color: black;
    border-radius: 20px;
    background-color: rgba(89, 171, 110, 0.70);
    border: 5px #59ab6e;
    height: 150px;
    width: 200px;
}

.button-container {
    margin-top: 5%;
    margin-bottom: 10%;
    height: 50%;
}