<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Nature</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/mootools-core.js"></script>
<script type="text/javascript" src="js/mootools-more.js"></script>
<script type="text/javascript" src="js/byzoomer-0.9.js"></script>
<script language="javascript" type="text/javascript">
function clearText(field){
if (field.defaultValue == field.value) field.value = '';
else if (field.value == '') field.value = field.defaultValue;
}
window.addEvent('load', function(){
new ByZoomer();	
});
</script>
<!--[if lt IE 7]>
<style type="text/css">
#header_bottom { behavior: url(iepngfix.htc); }
</style>
<![endif]-->
</head>
<body>
<div id="top_bg">
  <div class="container">
    <div id="header">
      <div id="logo"> Nature <span>[ Free CSS Template ]</span> </div>
      <div id="header_bottom">
        <div id="menu">
          <ul>
            <li class="current"><a href="#"><b>Home</b></a></li>
            <li><a href="#"><b>Products</b></a></li>
            <li><a href="#"><b>Services</b></a></li>
            <li><a href="#"><b>Clients</b></a></li>
            <li><a href="#"><b>About</b></a></li>
            <li><a href="#"><b>Contact</b></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Of Header -->
    <div id="content">
      <div id="content_left">
        <div class="post">
          <h1>Welcome to nature website</h1>
          <p>This website template is provided by TemplateMo.com. You may download, modify and apply this layout for your personal or business websites. Credit go to photovaco.com for photos and Smashing Magazine for icons. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque rutrum est non pede. </p>
          <p>Mauris varius risus fermentum nulla. Mauris vel sapien mattis urna luctus ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus tincidunt vehicula est. Vestibulum purus. In hac habitasse platea dictumst. </p>
          <p>Quisque ut odio. Etiam fringilla vestibulum nulla. Suspendisse venenatis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
        <div class="post" >
          <h1>Photo Gallery</h1>
          <a class="byzoomer" href="#"> <img src="images/thumb_1.jpg" alt="" /> </a> <a class="byzoomer" href="#"> <img src="images/thumb_2.jpg" alt="" /> </a> <a class="byzoomer" href="#"> <img src="images/thumb_3.jpg" alt="" /> </a> <a class="byzoomer" href="#"> <img src="images/thumb_4.jpg" alt="" /> </a> </div>
      </div>
      <!-- End Of Content Left-->
      <div id="content_right">
        <div class="section">
          <div class="section_1_top"> MEMBER LOGIN </div>
          <div class="section_1_mid">
            <div class="form">
              <form method="post" action="#">
                <div class="label">
                  <label>Username :</label>
                  <label>Password :</label>
                </div>
                <div class="textboxes">
                  <input name="username" value="Username" type="text" onfocus="clearText(this)" onblur="clearText(this)" class="textfield"/>
                  <input name="password" value="password" type="password" onfocus="clearText(this)" onblur="clearText(this)" class="textfield"/>
                </div>
                <div class="cleaner_with_height"></div>
                <div class="login_bottom">
                  <input type="checkbox" name="remember" class="checkbox"/>
                  <span class="remember"> Remember Me</span>
                  <input type="submit" name="login" value="" class="button"/>
                </div>
              </form>
            </div>
            <div class="cleaner_with_height"></div>
          </div>
          <div class="section_1_bottom"></div>
        </div>
        <div class="section">
          <div class="section_2_top"> OUR PARTNERS </div>
          <div class="section_2_mid">
            <ul>
              <li><a href="#">Flash Templates</a> </li>
              <li><a href="#">CSS Templates</a> </li>
              <li><a href="#">Web Design Articles</a> </li>
              <li><a href="#">Royalty Free Photos</a> </li>
            </ul>
          </div>
          <div class="section_2_bottom"> </div>
        </div>
      </div>
      <!-- End Of right -->
      <div class="cleaner_with_height"></div>
    </div>
    <!-- End Of Content -->
    <div class="cleaner_with_height"></div>
  </div>
  <!-- End Of Container -->
</div>
<!-- End Of Top bg -->
<div id="bottom_bg">
  <div class="container">
    <div id="bottom_panel">
      <div class="section_3">
        <div class="section_3_top"> NEW SERVICES</div>
        <div class="section_3_bottom">
          <ul>
            <li><a href="#">Vivamus a massa</a></li>
            <li><a href="#">Donec iaculis felis id neque</a></li>
            <li><a href="#">Praesent varius egestas velit</a></li>
            <li><a href="#">Donec a massa ut pede</a></li>
            <li><a href="#">Nulla et augue</a></li>
          </ul>
        </div>
      </div>
      <!-- End Of Section 3 -->
      <div class="section_4">
        <div class="section_4_top"> TESTIMONIALS </div>
        <div class="section_4_bottom">
          <h1>Quisque in diam a justo condimentum molestie</h1>
          <p>Vivamus a velit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
          <div class="bottom_line"></div>
          <h1>Curabitur quis velit quis tortor tincidunt aliquet</h1>
          <p>Vivamus leo velit, convallis id, ultrices sit amet, tempor a, libero. Quisque rhoncus nulla quis sem. Mauris quis nulla sed ipsum pretium sagittis. Suspendisse feugiat. Ut sodales libero ut odio.</p>
          <div class="bottom_line"></div>
          <h1>Maecenas venenatis metus eu est. In sed risus ac felis varius bibendum. Nulla imperdiet congue metus</h1>
          <p>Vestibulum dapibus tortor vel orci. Maecenas vulputate, arcu id fermentum eleifend, tortor enim tincidunt mauris.</p>
        </div>
      </div>
      <!-- End Of Section 4 -->
    </div>
    <!-- End Of bottom panel -->
    <div class="cleaner_with_height"></div>
  </div>
  <!-- End Of container -->
</div>
<!-- End Of bottom bg -->
<div id="footer"> Copyright &copy; 2024 <a href="#">Your Company Name</a> | Designed by <a target="_blank" rel="nofollow" href="http://www.templatemo.com">templatemo</a> </div>
</body>
</html>
