<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:attr="lang=${lang}" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Page Title</title>
    <meta charset="UTF-8"/>
</head>
<body>
<header th:insert="~{template.html :: header}"></header>
<div class="con-cajas">
    <div class="cajas">
        <div class="">
            imagen
        </div>
        <h2 th:text="#{index.tittle}"></h2>
        <p th:text="#{index.message}"></p>
    </div>
    <div class="cajas">
        <div class="">
            imagen
        </div>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</h2>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="cajas">
        <div class="">
            imagen
        </div>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniamsed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam</p>
    </div>
</div>
<div th:insert="~{template.html :: scripts}"></div>
</body>
</html>